<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Plan</title>
    <link rel="icon" type="image/x-icon" href="assets/logo.jpg" />
    <link rel="stylesheet" href="css/plan.css" />
    <link rel="icon" type="image/x-icon" href="assets/logo.jpg" />
  </head>
  <body>
    <div class="logo-container">
      <img src="assets/logo.jpg" alt="logo" class="logo" />
      <p class="logo-name">Power Fitness</p>
    </div>

    <div class="container">
    
      <h1 data-sr="enter bottom over 1s and move 50px">Plans</h1>
      <% plans.forEach(plan => { %>
      <div class="product" data-sr="enter bottom over 1s and move 50px">
        <img src="assets/price-<%= plan.__v %>.png" alt="<%= plan.plan %>" />
        <div class="product-details">
          <h2 class="plan"><%= plan.plan %></h2>
          <p class="price">Rp. <%= plan.price %>/month</p>
          <p><%= plan.description %></p>
          <div class="quantity">
            <label for="quantity">People:</label>
            <input
              type="number"
              id="quantity"
              name="quantity"
              min="1"
              value="1"
            />
          </div>
          <form action="/plan" method="POST">
        
            <input type="hidden" name="planId" value="<%= plan._id %>" />
            
            <button type="submit" class="btn">Join!</button>
        </form>

        </div>
      </div>
      <% }); %>

      
    </div>

    <script src="https://unpkg.com/scrollreveal"></script>
    <script src="https://cdn.jsdelivr.net/npm/swiper@10/swiper-bundle.min.js"></script>
    <script src="js/plan.js"></script>
  </body>
</html>
